.relative {
  position: relative;
}
.fixed {
  position: fixed;
}
.absolute {
  position: absolute;
}

.no-scroll {
  overflow: none;
}

.background-black {
  background-color: black;
}

::-webkit-scrollbar {
  display: none;
}
.video-js * {
  outline: none;
}

.hide {
  display: none;
}
