.relative {
  position: relative;
}
.fixed {
  position: fixed;
}
.absolute {
  position: absolute;
}

.no-scroll {
  overflow: hidden;
}

.background-black {
  background-color: black;
}

::-webkit-scrollbar {
  display: none;
}
.video-js * {
  outline: none;
}

.hide {
  display: none;
}

/* image slider  */

.fade-transition {
  transition: all 0.8s ease;
  overflow: hidden;
  visibility: visible;
  opacity: 1;
  position: absolute;
}
.fade-enter,
.fade-leave {
  opacity: 0;
  visibility: hidden;
}

.slide-transition {
  transition: all 0.8s ease;
  overflow: hidden;
  visibility: visible;
  opacity: 1;
  position: absolute;
}
.slide-enter,
.slide-leave {
  opacity: 0;
  visibility: hidden;
}
